@using Dating.Helpers;
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - ShokansoDating</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				@Html.ActionLink("Shokanso Dating", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">

				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Shokanso Dating</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jquery-ui")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/moment")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/fontawesome")
	@Scripts.Render("~/bundles/helpers")
	
	<script type="text/javascript">

		var urlUserSearch = '@Html.Raw(Url.Action(ActionHelper.USER_SEARCH, "Profile"))';
		$('#btnSearchUser').click(function (e) {

			e.preventDefault();
			redirectToUserSearch();
		});

		function redirectToUserSearch() {
			{
				window.location.href = urlUserSearch + "?searchString=" + $('#searchString').val();
			}}
	</script>
	@RenderSection("scripts", required: false)

</body>
</html>
